*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
@media only screen and (max-width: 600px) {
  .col {
    display: block;
    width: 100%;
  }
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-light .navbar-brand
{
    color: #fff !important;
    font-weight: 300;
}
.navbar img
{
    width: 100px;
    height: 100px;
}
.navbar
{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}
.navbar > .container {
    padding-top: 20px;
    padding-bottom: 20px;
}
/*----banner section-----*/
#banner
{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding: 2em;
    padding-top: 5px;
}
#banner img
{
    width: 100%;
    position: relative;
    top: 10%;
    bottom: 30%;
    object-fit: contain;
}
#banner .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.col-container 
{
    display: flex;
    width: 100%;
}
.col 
{
    flex: 1;
    padding: 16px;
    margin: 16px;
}
.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.play-btn
{
    width: 45px;
    margin: 20px;
}
#banner a
{
    color: #fff;
    text-decoration: none;
}
.imgbox
{
    display: grid;
    height: 100%
}
.bottom-img
{
    width: 100%;
    height: 200px;
}
/*----services section-----*/
#services
{
    padding: 80px 0;
}
#services img
{
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}
.services-img
{
    width: 100px;
    margin-top: 20px;
}
.services
{
    padding: 20px;
}
.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
/* .title::before
{
    content: '';
    width: 200px;
    height: 5px;
    left: 620px;
    top: 813px;
    background: linear-gradient(90deg, #A517BA 0%, #5F1782 100%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
    transform: translateY(63px);
    border-radius: 5px;
} */
.title::after
{
    content: '';
    width: 200px;
    height: 5px;
    left: 620px;
    top: 813px;
    background: linear-gradient(90deg, #A517BA 0%, #5F1782 100%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: block;
    transform: translateY(8px);
    border-radius: 5px;
}
#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
/*----services section-----*/
#about-us
{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li
{
    margin: 10px 0;
}
/*----testimonials section-----*/
#testimonials
{
    margin: 100px 0;
}
.row offset-1
{
    margin-top: 20px;
}
.testimonials
{
    /* border-left: 4px solid #7b1798; */
    float: left;
    margin-left: 10px;
    margin-bottom: 50px;
    padding: 25px;
    width: 436px;
    background: #F8F6F6;
}
.with-linear-gradient {
    border-style: solid;
    border-width: 8px;
    border-image: linear-gradient(45deg, rgb(165,23,186), rgb(95,23,130)) 1;
    border-top: none;
    border-left: none;
  }
.text-linear-gradient {
    background-color: #f3ec78;
    background-image: linear-gradient(#a517ba, #5f1782);
    background-image: conic-gradient(#a517ba, #5f1782);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    margin: 1em 0;

} 
.testimonials img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
    object-fit: contain;
}
.user-details
{
    display: inline-block;
    font-size: 12px;
}
/*----socmed-----*/
#social-media
{
    background: #f8f9fa;
    padding: 100px 0;

}
#social-media p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img
{
    transition: 0.5s;
    margin-right: 30px;
    object-fit: contain;
    width: 20px;
    height: 20px;
    margin: 0.4em;
    flex-shrink: 0;
}
.social-icons a:hover img
{
    transform: translateY(-10px);
}
/*----footer-----*/
#footer
{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer-img
{
    width: 100%;
}
.footer-box
{
    padding: 20px;
}
.footer-box img
{
    width: 120px;
    margin-bottom: 20px;
}
